.github-repo-table-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.github-repo-table-row, 
.ReactVirtualized__Table__headerColumn {
    display: flex;
    padding: 0px 20px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.github-repos-table-main {
    display: flex;
    width: 98%;
    color: #272727;
    font-size: 1.1rem;
}

.ReactVirtualized__Table__row,
.ReactVirtualized__Table__headerRow {
    display: flex;
    background-color: #fafafa;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
    border-radius: 10px;
}

.ReactVirtualized__Grid__innerScrollContainer {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 16px 15px 6px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.github-repo-table-content {
    display: flex;
    width: 100%;
}

.github-repo-table-content div:nth-child(1) {
    flex: 1;
}

.github-repo-table-content div:nth-child(2) {
    flex: 2;
}

.github-repo-table-row:nth-child(even) {
    background: #e8eaf8;
}

.github-repo-table-row:nth-child(odd) {
    background: #fafafa;
}

.github-repo-table-row:hover {
    background-color: #ce87ce;
    border: 1px solid #ce87ce;
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

.github-repo-table-row:hover a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.github-repo-name {
    text-transform: capitalize;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    .github-repo-table-content {
        flex-direction: column;
    }
}