table {
  border-collapse: collapse;
  width: 100%;

  /* border-collapse: separate !important;
  border-spacing: 0; */
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.place-at-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-100-vh {
  height: 100vh;
}

.textCenter {
  text-align: center;
}

.listTable table {
  width: 70%;
}

.link-decorate {
  color: #0969da;
  text-decoration: none;
}

.link-decorate:hover {
  color: #0a53aa;
  text-decoration: underline;
}